<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/fragments/nav.css">
</head>
<body>
<th:block th:fragment="navFragment">

    <nav class=layout-150>
        <div class="nav-body">
            <ul>
               <li>
                   <a>삼국시대</a>
               </li>
                <li>
                    <a>고려시대</a>
                </li>
                <li>
                    <a>조선시대</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
</body>
</html>